/* Font used all over the website */

html{
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

div, aside, img {
    box-sizing: border-box;
}

/* General text styles */

h2{
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
}

h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
}

h4, p, span{
  color: #4a4a4a;
}

/* Links */

a{
  color: inherit;
  text-decoration: none;
}

header a:hover, .course-description a:hover, footer a:hover, .leftbox a:hover{
  text-shadow: .1em .1em #d8d8d8;
  transition: text-shadow 250ms 100ms;
}


/* Header ***********************************************************************************/

 header{
   position: fixed;
   top: 0;
   width: 100%;
   height: 64px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   background-color: white;
 }

 header div{
   display: flex;
   align-items: center;
 }

 header img{
   margin-top: 15%;
   height: 2rem;
 }

 #colmar{
   padding-right: 0;
   margin-right: 0;
   font-size: 1.5rem;
   font-weight: bold;
   color: #4a4a4a;
 }

 #academy{
   padding-left: 0;
   margin-left: 0;
   font-size: 1.5rem;
   color: #9b9b9b;
 }

 header ul{
   display: inline-flex;
   color: #4d4d4d;
 }

header a{
  padding-left: .75rem;
  font-size: 1.15rem;
}

 header nav{
  margin-right: 1.5rem;
}

.logo.mobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  .logo .mobile {
    display: flex;
  }

  header div{
    width: 100%;
  }

  header a{
    padding: 0;
    width: 25%;
    margin-left: 0;

  }

  header img{
    padding: 0;
    margin-left: 41%;
    margin-top: 0;
  }


  #colmar, #academy, nav{
    display: none;
  }
}


/* Body (everything not in the header)***********************************************************************************/

body{
  margin-top: 64px;
  left: 0;
  width: 100%;
  display: block;
}

/* First section: Banner ***********************************************************************************/

 .banner{
   background-color: #d8d8d8;
   display: flex;
 }

 /* Big picture in the banner */

 .banner-left{
   max-width: 60%;

/* if display: flex is used, the picture will stretch in the y axis  */
}

 .banner-left img{
   max-width: 100%;
   padding: 2rem 1.5rem;
 }

 /* Sign up text and button */
.banner-right {
  max-width: 40%;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.banner-right aside{
  max-width: 80%;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.banner h1{
  margin: 2rem 1.5rem;

  font-size: 2.25rem;
  font-weight: 600;
  color: #4a4a4a;
}

.banner h2{
  margin: 0 1.5rem;
}

.button{
  margin: 2rem 1.5rem;
  background-color: #4a4a4a;

  display: flex;
  justify-content: center;
  color: white;
 }

.button a{
   padding: .5rem 0;
 }

 .button:hover{
   background-color: #4a90e2;
   transition: background-color 250ms 100ms;
}

@media only screen and (max-width: 720px) {
  .banner {
    display: block;
  }

  .banner-left{
    display: flex;
    max-width: 100%;
    height: auto;
  }

  .banner img{
    padding: 0;
}

  .banner-right{
    max-width: 100%;
    padding: 2rem 0;
  }

  .banner aside{
    max-width: 100%;
  }

  .banner h1{
    margin: 0 1rem 0 1rem;
  }

  .banner h2{
    margin: 2rem 1rem 0 1rem;
  }

  .button{
    min-width: 95%;
    margin: 1.5rem 1rem 0 1rem;

    background-color: #9b9b9b;
  }
}

/* Second section: Information **********************************************************************************/

.information{
  background-color: #f3f5f5;
  display: flex;
}

/* Left panel in both Information and Thesis sections */

.leftbox{
  max-width: 60%;

  display: flex;
  flex-flow: column;
  margin: 2rem 1.5rem;
}

.leftbox img{
  max-width: 100%;
}

.leftbox h2{
  margin: 2rem 0 1.5rem 0;
  max-width: 100%;
}

.leftbox p{
  margin: 0 0 2rem 0;
  max-width: 100%;
}

.leftbox span{
  font-size: .75rem;
}

@media only screen and (max-width: 720px) {
  .information .leftbox {
    display: none;
  }
}

/* Article descriptions in second section: Information and in the fourth section: Thesis */

.rightbox{
  min-width: 40%;
  margin-top: 1rem;

  display: flex;
  flex-flow: column;
}

/* Divs within the right side of sections Information and Thesis*/
 .preview{
  width: 100%;
  padding: 1rem 0;

  display: flex;
}

.preview:hover{
  background-color: #d8d8d8;
  transition: background-color 250ms 100ms;
}

.imageholder{
  max-width: 35%;
  /* if display: flex is used, the picture will stretch in the y axis; */
}

.imageholder img{
  width: 100%;
  padding: 0 1rem;
}

.imageholder-mobile{
    display: none;
}

@media only screen and (max-width: 720px) {
  .rightbox{
    width: 100%;
  }

  .preview{
    display: inline-block;
  }

  .preview .imageholder {
    display: none;
  }

  .imageholder-mobile{
    display: block;
    margin: 0 1rem;
  }

  .imageholder-mobile img{
    width: 100%;
  }

  .preview aside{
    display: block;
    margin: 2rem 2rem;
  }

}


/* Descriptive text gathered in an aside in sections Information and Thesis*/
.preview aside{
  /* margin-left: 35%; */
  width: 65%;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.preview h3, .preview p{
  display: flex;
  margin: 0 1rem .5rem 0;
}

.preview span{
  color: #4a90e2;
}

/* Third section: Courses ***********************************************************************************/

.courses{
  background-color: #eaebec;
  display: block;
  padding: 1rem 0 1.5rem 0;
}

/* This section's header */
.courses h2{
  padding: .75rem 0;
  width: 100%;

  text-align: center;
  display: block;
}

/* Couse descriptions laid out in a grid */
.course-table{
  padding: 0 3.5rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  /*grid-template-rows: 50% 50%; */
  /* grid-row-gap: 2rem;
  /* grid-column-gap: 0; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 23rem 23rem;
}
/* After testing the grid layout on Firefox it seems some properties were not supported, so I changed some properties*/

/* Course descriptions */
.course-description {
  margin: 1rem;
  max-height: 100%;

  display: flex;
  flex-flow: column;
}

.course-description img{
  max-width: 100%;
}

/* Descriptive text gathered in an aside */
.course-description aside{
  min-height: 7.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
}

.course-description h3{
  padding: 1rem 1rem 0 1rem;
}

.course-description h4{
  padding: .5rem 1rem .5rem 1rem;
}

.course-description p{
  padding: 0 1rem;

  background-color: white;
}

.course-menu{
 display: none;
}

@media only screen and (max-width: 720px) {
  .course-menu{
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column;
  }

  .course-menu div{
    padding: 1rem 1rem 1.5rem 1rem;
    margin-top: .5rem;

    background-color: #d8d8d8;
  }

  .course-menu p{
    font-weight: bold;
  }

  .course-table{
    display: none;
  }

  .course-menu div:hover {
    background-color: #4a90e2;
    transition: background-color 250ms 100ms;
 }

}

/* Fourth section: Thesis ***********************************************************************************/

/* Styles not present in section Information */
.thesis{
  background-color: #f3f5f5;
}

.thesis h2{
  padding: 2rem 0 1.5rem 0;
  width: 100%;

  text-align: center;
  display: block;
}

.thesis.rightbox{
  margin-top: 0;
}

.videobox{
  display: none;
}

video{
  margin-top: -1rem;
  width: 100%;
  background-color: #f3f5f5;
}

@media only screen and (max-width: 720px) {
   .videobox{
    display: block;
    margin-top: 1rem;
  }

  .thesis.rightbox{
    display: none;
  }
}


/* Footer ***********************************************************************************/

footer{
  width: 100%;
  padding: 1rem 0;

  display: flex;
  justify-content: space-between;
}

footer ul{
  display: flex;
  justify-content: space-between;
}

footer div{
  margin-left: 1.5rem;
}

footer nav{
  margin-right: 1.5rem;
  color: #4d4d4d;
}

footer a{
  padding-left: 1rem;

  font-size: 1rem;
}

@media only screen and (max-width: 720px) {
  footer nav{
    display: none;
  }
}
