/* Font used all over the website */

html{
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

* {
    box-sizing: border-box;
}

/* General text styles */

h2{
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
}

h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
}

p, span{
  color: #4a4a4a;
}

/* Header */

header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 1.5rem;
  height: 2rem;
}

#colmar{
  padding-right: 0;
  margin-right: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a4a4a;
}

#academy{
  padding-left: 0;
  margin-left: 0;
  font-size: 1.5rem;
  color: #9b9b9b;
}

header ul{
  display: inline-flex;
}

header a{
  padding-left: 1rem;

  font-size: 1.5rem;
  color: #4d4d4d;
  text-decoration: none;
}

header nav{
  margin-right: 1.5rem;
}



/* Body (everything not in the header)*/

body{
  margin-top: 64px;
  width: 100%;
  display: block;
}

/* First section: Banner */

.banner{
  background-color: #d8d8d8;
  display: flex;
}

/* Big picture in the banner */

.banner img{
  width: 60%;
  padding: 2rem 1.5rem;
}

/* Sign up text and button */

.banner div{
  width: 25%;
  margin-left: 1.5rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.banner h1{
  font-size: 2.25rem;
  font-weight: 600;
  color: #4a4a4a;
}

.banner h2{
  margin-top: 2rem;
}

.banner .button{
  margin: 2rem 0 0 0;
  width: 90%;

  background-color: #4a4a4a;
}

.banner .button a{
  padding: .5rem 0;

  color: white;
  text-decoration: none;
  align-self: center;
}

/* Second section: Information **********************************************************************************/

.information{
  background-color: #f3f5f5;
  display: flex;
}

/* Big picture and text in second section: Information */

.leftbox{
  width: 60%;
  margin: 0;

  display: inline-block;
}

.leftbox img{
  padding: 2rem 1.5rem;
  max-width: 100%;
}

.leftbox h2, p, span{
  padding: 1rem 1.5rem;
}

.leftbox h2{
  padding: 0 1.5rem;
}

.leftbox p{
  padding: 1.25rem 1.5rem 3rem 1.5rem;
}

.leftbox span{
  padding-left: 1.5rem;

  font-size: .75rem;
}

/* Article descriptions in second section: Information */

.rightbox{
  width: 40%;
}

/* Divs within the right side of this section*/
.rightbox div{
  margin: 2rem 0 2rem 2rem;
  display: flex;
}

.rightbox img{
  max-width: 35%;
  min-width: 35%;
  margin: 0 1rem;
  padding: 0 1rem;
}

/* Descriptive text gathered in an aside */
.rightbox aside{
  padding: 0;
  margin-right: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.rightbox h3, p{
  padding: 0;
  margin: 0 0 .5rem 0;
}

.rightbox a{
  color: #4a90e2;
  text-decoration: none;
}

/* Second section: Courses **********************************************************************************/

.courses{
  background-color: #eaebec;
  display: block;
  padding: 2rem;
}

/* This section's header */
.courses h2{
  min-height: 3rem;
  width: 100%

  display: block;
  text-align: center;
}

/* Couse descriptions laid out in a grid */
.course-table{
  padding: 0 3.5rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
}

/* Course descriptions */
.course-description {
  padding: 1rem 1rem;

  display: flex;
  flex-flow: column;
}

.course-description img{
  max-width: 100%;
}

/* Descriptive text gathered in an aside */
.course-description aside{
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
  flex-grow: 1;
}

.course-description h3, p{
  margin: .5rem;
}
